.DS_Store
node_modules/
Applications
Games
Library
.local/share/

.config/opencode/package.json
.config/opencode/bun.lock
.config/swiftpm/
.config/neofetch/

.pi/todos
.pi/agent/auth.json
.pi/agent/sessions
.pi/skills
