.DS_Store
node_modules/
Applications
Games
Library
.local/share/

.config/*

!.config/mpv/
!.config/gh/
!.config/yt-dlp/
!.config/nvim/
!.config/crush/crush.json
!.config/alacritty/alacritty.toml
!.config/opencode/opencode.json
!.config/stylua/stylua.toml

!.config/agents/.skill-lock.json
!.config/agents/skills/commit/
!.config/agents/skills/worktree/
!.config/agents/AGENTS.md

.pi/*

!.pi/agent/models.json
!.pi/agent/settings.json
