[user]
	name = exception7601
	email = 77030548+exception7601@users.noreply.github.com
	signingkey = 909B8651397BBD4F
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
	editor = nvim 
	excludesfile = /Users/anderson/.gitignore_global
	pager = less -FXR
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = simple

[alias]
	df = !git --git-dir=$HOME/.cfg/ --work-tree=$HOME

[credentials]
 	helper = osxkeychain
