# uncomment the flavour you want below:
# general.import = [
#   # "~/.config/alacritty/catppuccin-latte.toml"
#   # "~/.config/alacritty/catppuccin-frappe.toml"
#   # "~/.config/alacritty/catppuccin-macchiato.toml"
#  "~/.config/alacritty/catppuccin-mocha.toml"
# ]

general.import = ["/Users/anderson/.config/alacritty/dracula.toml"]
general.live_config_reload = true

# [terminal.shell]
# program = "/bin/zsh"
# args = ["--login", "-c", "tmux new -A -s 0"]

# [window]
# opacity = 0.8
# decorations = "full"

[env]
LC_ALL = "en_US.UTF-8"

[colors]
draw_bold_text_with_bright_colors = true

[font]
size = 20

[font.normal]
family = "SF Mono"
style = "Light"

[keyboard]
bindings = [
  # tmux leader alias: Ctrl-b
  # { key = "B", mods = "Command", chars = "\u0000" },
  # Option + ← para pular uma palavra para a esquerda
  # { key = "Left", mods = "Option", chars = "∫" },   
  # Option + → para pular uma palavra para a direita
  # { key = "Right", mods = "Option", chars = "ƒ" },  
  { key = "Return", mods = "Shift|Command", action = "CreateNewWindow" },

  # Vim Command
  { key = "O", mods = "Shift|Command", chars = " o" },
  # Vim Command
  { key = "F", mods = "Shift|Command", chars = " F" },

# vim bindings move lines
  # { key = "]", mods = "Option|Command", chars = "g]" },
  # { key = "[", mods = "Option|Command", chars = "g[" },
  
  #save vim buffer
  # { key = "S", mods =  "Command", chars = "\u001b\u003a\u0077\u000a" },

  { key = "/", mods =  "Command", chars = "g/"}, 
  # tmux bindings usar 4-digit hex code

  # tmux create window: Ctrl-b c
  { key = "T", mods = "Command", chars = "\u0002c" }, 

  # tmux split vertical: Ctrl-b %
  { key = "V", mods = "Command|Shift", chars = "\u0002\"" }, 

  # tmux split horizontal: Ctrl-b "
  { key = "H", mods = "Shift|Command", chars = "\u0002%" },

  # tmux kill the current window &
  { key = "W", mods = "Command", chars = "\u0002&" }, 
  { key = "/", mods = "Option|Shift", chars = "\u0002?" }, # help shortcut tmux

   # select window 
  { key = "Key1", mods = "Command", chars = "\u00021" },
  { key = "Key2", mods = "Command", chars = "\u00022" },
  { key = "Key3", mods = "Command", chars = "\u00023" },
  { key = "Key4", mods = "Command", chars = "\u00024" },
  { key = "Key5", mods = "Command", chars = "\u00025" },
  { key = "Key6", mods = "Command", chars = "\u00026" },

  # { key = "F", mods = "Command|Shift", command = { program = "fzf", args = [""] } },

   # disacher sections
  { key = "D", mods = "Command|Shift", chars =  "\u0002d" },

  # Move window prev and next
  { key = "{", mods = "Command|Shift", chars = "\u0002p" },
  { key = "}", mods = "Command|Shift", chars = "\u0002n" },
  # { key = "Tab", mods =  "Control", chars = "\u0002n" },
  # { key = "Tab", mods =  "Control|Shift", chars = "\u0002p" },
]

